body{
    margin: 0;
    padding: 0;
}

.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header{
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 100px;
    height: 50px;
}

.title{
    padding: 0;
    margin: 0;
}

.main-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 500px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-back{
    width: 500px;
    height: 300px;
    position: absolute;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transform: rotateX(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_ctr{
    width:20%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

.add-card-btn,.modal-submit{
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: solid 1px black;
    
}

footer{
    position: relative;
    right: 40vw;
    top: 20vh;
}

.clear-btn{
    width: 100px;
    height: 40px;
    background-color: white;
    border: solid 1px black;
    outline: none;
    cursor: pointer;
}

.add-modal{
    display: flex;
    opacity: 0;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #F0F1EC;
    position: absolute;
    z-index: -1;
}

.ModalTitle{
    padding:0;
    margin: 0 20px 0 0;
    font-size: 35px;
}

.close-modal-btn{
    display: flex;
    align-items: center;
    font-weight: 700;
}

.modal-header{
    display: flex;
}

.close-modal-btn{
    cursor: pointer;
}

.add-form{
    display: flex;
    flex-direction: column;
}

.modal-input{
    width: 400px;
    height: 50px;
}

.modal-submit{
    width: 30%;
    position: relative;
    left: 145px;
    top: 30px;
}

.card-content{
    font-size: 30px;
}

.card-content_rior{
    display: none;
    font-size: 30px;
}

.ctr{
    cursor: pointer;
}

@keyframes showWindow{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        z-index: 1;
    }
}

@keyframes hideWindow{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes rotateCard{
    100%{
        transform: rotateX(180deg)
    }
}

@keyframes rotateCard2{
    0%{
        transform: rotateX(180deg)
    }
    100%{
        transform: rotateX(0deg);
    }
}